html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  font-family: 'Courier';
  color: rgb(255, 255, 255);
  font-size: 6pt;
  line-height: 4pt;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  display: block;
}
